<h1>Listing projects</h1>

<%= link_to 'New Project', new_organization_project_path(params[:organization_id]) %>

<table>
  <tr>
    <th>
      Name
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td>
      <%= project.name %>
    </td>
    <td>
      <%= link_to 'Show', [project.organization, project] %>
    </td>
    <td>
      <%= link_to 'Edit', edit_organization_project_path(project.organization, project) %>
    </td>
    <td>
      <%= button_to 'Destroy', [project.organization, project], method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
