<div id="<%= dom_id education_level %>" class="border p-4 rounded-lg flex justify-between items-center">
  <div class="">
    <div class="text-lg font-bold">
      <%= "#{education_level.name}" %>
    </div>
    <div class="">
      <%= education_level.level.titleize %>
    </div>
  </div>

  <div>
    <%= link_to "Show", [@organization, education_level], class: "btn btn-secondary" %>
    <%= link_to "Edit", edit_organization_education_level_path(@organization, education_level), class: "btn btn-secondary" if policy(education_level).edit? %>
    <div class="inline-block">
      <%= button_to "Remove", organization_education_level_path(@organization, education_level), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(education_level).destroy? %>
    </div>
  </div>
</div>
